---
---

//Solarized
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$fontstack: "ff-din-web-pro-1","ff-din-web-pro-2",sans-serif;
$hmargin:   70px;
$vmargin:   20px;

//Vars
$grainedMonochrome:	"../img/100-90-5-monochrome.png" !default;
$mainBgColor: #fff !default;
$borderColor:	#e67e22 !default;
$btnBgColor:	#e74c3c !default; 
$altBtnBgColor:	#f39c12 !default; 
$altTextColor: 	$violet !default;
$socialBtnRadius:	40px !default;
$inactiveLinkColor: #2c3e50 !default;
$basicDelay: .5s !default;

//Top display stuff
body {
	font-size: 18px;
	background: url("#{$grainedMonochrome}");
	background-repeat: repeat;
	background-position: 0 0;
	background-color: #eee; 
	.container {
		background: $mainBgColor;
	}
}

a {
	color: $inactiveLinkColor;
}

.main-container {
	height: 100%;
}

div.name-header {
	border-bottom: 2px solid $borderColor;
	padding: 20px 0 0;
	h1 {
		line-height: 20px;
		text-align: center;
	}
}

@mixin text-transform {
	> a {
		@include bottom-corner-round;
		color: $altTextColor;
		text-decoration: none;
		background-color: $altBtnBgColor;
		transition-duration: $basicDelay;
	}
	background-color: $altBtnBgColor;
}

@mixin zone-inset {
	transition-duration: $basicDelay;
	-webkit-box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, $btnBgColor 0 1px 7px 0 inset; 
	box-shadow: rgba(255, 255, 255, 0.1) 0 1px 0, $btnBgColor 0 1px 7px 0 inset; 
}

@mixin bottom-corner-round {
	border-radius: 0 0 20px 20px; 
}

//Social bar and buttons
ul.socialbar {
	margin-bottom: 0px;
	li {
		display: inline-block;
		border-radius: $socialBtnRadius $socialBtnRadius 0 0;
		margin: 0px 2px 0px 2px;
		width: $socialBtnRadius;
		height: $socialBtnRadius;
		background-color: $btnBgColor;
		line-height: $socialBtnRadius;
		transition-duration: $basicDelay;
		text-align: center;
		float: right;
		&:hover {
			@include text-transform;	
			a {
				border-radius: $socialBtnRadius $socialBtnRadius 0 0;			
			}
		}
	}
	a {
		position: relative;
		color: $inactiveLinkColor;
		i {
			vertical-align: middle;
		}
	}
}

//Navbar
.navbar-inner {
	padding-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: 0px;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	background: $mainBgColor;
	.nav-interactive {
		> li:hover {
			@include text-transform;
		}
		li {
			a {
				color: $inactiveLinkColor;
			}
			&:hover, &.active {
				span {
					font-weight: bold;
				}
				a {
					border-radius: 0 0 $socialBtnRadius $socialBtnRadius;			
				}
				@include text-transform;
				@include zone-inset;
			}
			@include bottom-corner-round;
		}
	}
}

.navbar-search .search-query:focus {
	border-color: $borderColor;
	box-shadow: 0 0 10px $borderColor;
	transition-duration: 0.2s;
}

.posts {
	list-style: none;
	li {
		display: block;
		span {
			margin-left: 5px;
		}
	}
}

.visible {
	ul.typeahead {
		display: block;
	}
}

small.highlight {
	color: $borderColor;	
}
