// Customize the colors of Octoflat Here

/* Remove this line for the light theme / for custom colors

$primary-color:      #e69411; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #1dbbd6; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     #C0392B; // Hover-over color, Active Page color
$accent-color1:      #23defe; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #ffffff; // Navbar Text, Tag text
$bg-color:           #ffffff; // Background
$navbar-color:       #1ec2de; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #5a5e5f; // Body Text
$footer-color:       #7F8C8D; // Footer

 And remove this line */

 //Solarized
$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
$fontstack: "ff-din-web-pro-1","ff-din-web-pro-2",sans-serif;
$hmargin:   70px;
$vmargin:   20px;


$primary-color:      #e67e22; // Jumbotron, Horizontal Rules, Headings
$secondary-color:    #e74c3c; // Tags, Links, Main Heading, Quote Border
$tertiary-color:     $violet; // Hover-over color, Active Page color
$accent-color1:      #f39c12; // Hover-over background color for tags
$accent-color2:      #34495E; // Sub-headings, Date Stamp
$accent-color3:      #f39c12; // Navbar Text, Tag text
$bg-color:           #fff; // Background
$navbar-color:       #fff; // Navbar
$code-bg-color:      #2C3E50; // Code background
$quote-color:        #E74C3C; // Quote Color
$text-color:         #5a5e5f; // Body Text
$footer-color:       #7F8C8D; // Footer

//Vars
$collapse-switch-width: 979px !default;
$grained-monochrome:	"../images/100-90-5-monochrome.png" !default;
$main-bg-color: #fff !default;
$border-color:	#e67e22 !default;
$btn-bg-color:	#e74c3c !default; 
$alt-btn-bg-color:	#f39c12 !default; 
$alt-text-color: 	$violet !default;
$mid-btn-radius:	40px !default;
$small-btn-radius: $mid-btn-radius/2;
$inactive-link-color: #2c3e50 !default;
$basic-delay: .5s !default;
$main-size: 18px;