@import "variables";
@import "colors";

//Inlay, blur, shadow, hover mixins

@mixin round-corners  ($top-radius: 0, $bottom-radius: 0) {
	border-radius: $top-radius $top-radius $bottom-radius $bottom-radius; 
}

@mixin text-transform {
	> a {
		color: $secondary-color;
		text-decoration: none;
		transition-duration: $basic-delay;
		border-radius: inherit !important;
	}
	background-color: $alt-btn-bg-color;
}

@mixin zone-inset {
	transition-duration: $basic-delay;
	@include box-shadow(inset 0 0 0.2em 1px $btn-bg-color);
}

@mixin box-shadow ($string) {
	-moz-box-shadow: $string;
	-webkit-box-shadow: $string; 
	box-shadow: $string; 	
}

@mixin round-btn ($top-radius, $bottom-radius : 0) {
	@include round-corners($top-radius, $bottom-radius);
	width: $top-radius;
	height: $top-radius;
	line-height: $top-radius;
}

@mixin separator-border {
	border-top: 0;
	border-bottom: 2px solid $border-color;
}

//Top display stuff
body {
	font-size: $main-size;
	background: url("#{$grained-monochrome}");
	background-repeat: repeat;
	background-position: 0 0;
	background-color: #eee; 
	.container {
		background: $main-bg-color;
	}
}

a {
	color: $inactive-link-color;
}

.main-container {
	height: 100%;
}

div.name-header {
	@include separator-border;
	padding: 20px 0 0;
	h1 {
		line-height: 20px;
		text-align: center;
	}
}

//Top-floater definitions 
@media only screen and (max-width: 768px) {
	%floattop {
		width: 100%;
		margin: auto;
		z-index: 10000;
		position:fixed;
	}
	
	.collapse-container {
		margin-right: 20px;
	}

	#main.container {
		> .navbar {
			@extend %floattop;
		}
	}
}

//Cosmetics for text (mostly)
.posts {
	list-style: none;
	li {
		display: block;
		span {
			margin-left: 5px;
		}
	}
}

small.emphasis {
	color: $border-color;	
}

//Social bar and buttons
ul.socialbar.nav {
	margin-bottom: 0px;
	> li {
		display: inline-block;		
		@media only screen and (min-width: 768px) {
			@include round-btn($mid-btn-radius);	
		}
		@media only screen and (max-width: 768px) {
			@include round-btn($small-btn-radius, $small-btn-radius);
			font-size: 12px;
		}
		margin: 0px 2px 0px 2px;
		background-color: $btn-bg-color;
		text-align: center;
		float: right;
		&:hover {
			@include text-transform;
		}
		> a {
			margin-top: 0;
			padding: 0;
			position: relative;
			color: $accent-color3;
			i {
				margin: auto;
				vertical-align: middle;
			}
		}
	}
}

//Navbar
.main-nav {
	border: 0;
}

#main {
	
}

.navbar-inner.main-nav {
	padding-left: 0px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	border: 0;
	box-shadow: none;
	.nav-interactive {
		> li {
			a {
				color: $inactive-link-color;
			}
			&:hover, &.active {
				span {
					font-weight: bold;
				}
				@include text-transform;
			}
			@media only screen and (min-width: $collapse-switch-width) {
				@include round-corners(0, $small-btn-radius);
			}
			@media only screen and (max-width: $collapse-switch-width) {
				@include round-corners($small-btn-radius, $small-btn-radius);
				z-index: 3;
				float: left;
			}
		}
	}
	@media only screen and (max-width: $collapse-switch-width) {
		.navbar-form {
			@include separator-border;
			z-index: 2;
		}
	}
}

//Search container box
#search-container.navbar-search .search-query:focus {
	border-color: $border-color;
	box-shadow: 0 0 10px $border-color;
	transition-duration: 0.2s;
	background-color: $primary-color;
	text-color: $secondary-color;
}

#search-container.navbar-search .search-query {
	background-color: $bg-color;
	border-color: $primary-color;
	font-size: $main-size;
	color: $text-color;
}

@media only screen and (max-width: 1280px) {
	.search-query {
		@extend input-small
	}
}

//Styling for the search dropdown
.visible {
	ul.typeahead {
		opacity: 1;
		z-index: 1000;
		visibility: visible;
		display: block;
		border-radius: 5px;
		border-color: $primary-color;
		position:absolute;
		li > a {
			color: $text-color;
		}
	}
}
